# Database URL (PostgreSQL or SQLite)
# PostgreSQL Example: postgresql://postgres:password@localhost:5432/fluttermusicapp
# SQLite Example (default fallback): sqlite:///./musicapp.db
DATABASE_URL=sqlite:///./musicapp.db

# JWT Secret Key
JWT_SECRET=password_key

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=dmpqe6ex3
CLOUDINARY_API_KEY=977545198631342
CLOUDINARY_API_SECRET=KO83a63fEVnYeWDNSIT1n6Dcs4Q
